@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  background-color: rgb(30, 27, 27);
  font-family: 'Inter', sans-serif;
   width: 100%;
  overflow-x: hidden; 
  
}

.aurora-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;      
  pointer-events: none;
}


